.color-text-primary {
  color: #252525;
}

.color-text-secondary {
  color: #5b5c5d;
}

.color-text-tertiary {
  color: #868686;
}

.color-text-quaternary {
  color: #b1b4b5;
}

.color-text-blue {
  color: #60affe;
}

.color-text-purple {
  color: #9b51e0;
}

.color-text-orange {
  color: #f2994a;
}

.color-text-blue-2 {
  color: #56ccf2;
}
.color-text-priority {
  color: #482121;
}

.color-text-success {
  color: #6fcf97;
}

.color-text-error-1 {
  color: #ff7a7a;
}

.color-text-error-2 {
  color: #ff4d4e;
}

.color-text-warning {
  color: #f2c94c;
}

.color-text-success-2 {
  color: #27ae60;
}

.color-text-secondary-2 {
  color: #828282;
}

.bg-success {
  background-color: #6fcf97;
}

.bg-danger {
  background-color: #ff4d4e;
}

.bg-warning {
  background-color: #f2c94c;
}

.bg-priority {
  background-color: #9b51e0;
}
