.list-style-description {
  list-style: disc !important;
}
.list-style-number {
  list-style: decimal !important;
}

.text-primary {
  color: #2b95fe;
  cursor: pointer;
}
.text-primary:hover {
  color: #2b95fe;
}
